*.user
*.pch
*.dep
*.ncb
*.suo
*.pdb
*.exp
*.bak
*.ilk
*.orig
*.js
*.bin
*.mod
*.pkg
*.img
*.htm
*.obj
*.lib
*.idb
.vs
Thumbs.db
*.exe
*.dll
!F75387.dll
!I2C.dll
!I2CCTL.sys
excludes.txt
MainProcess/SourceCode/ExternalCommunication/CORBA/Generated/*[CS].cpp
MainProcess/SourceCode/ExternalCommunication/CORBA/Generated/*[CS].h
MainProcess/SourceCode/ExternalCommunication/CORBA/Generated/*[CS].inl
!iSocket/*
/GameSpecific*/
/ExtendedGame*/
*~
*.swp
RAM Info.xlsx
**/x64/

!AVS_Wrapper/avs2
!AFP_Wrapper/afp
!AFP_Wrapper/ipp
Shader/*/Output
!SharedData/Shader/*.vso
!SharedData/Shader/*.pso
!SharedData/Shader
CORBA/Generated
MainProcess/SourceCode/ExternalCommunication/CORBA/Generated/
/.cov/
